{
	"parser": "@typescript-eslint/parser",
	"extends": ["prettier"],
	"env": {
		"mocha": true,
		"node": true,
		"es2020": true
	},
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	}
}
